@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import "./base/variables";
@import "./base/media";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $primary;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  //   line-height: 1.42em;
  //   font: 16px/1.42em "Roboto Slab", serif;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.section-header {
  text-align: center;
}
.title {
  font-size: 20px;
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 30px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background: $primary;
  }
}

.subtitle {
  margin-top: 30px;
  font-size: 16px;
  font-weight: normal;
}

@import "./blocks/header";
@import "./blocks/services";
@import "./blocks/about";
@import "./blocks/works";
@import "./blocks/banner";
@import "./blocks/posts";
@import "./blocks/clients";
@import "./blocks/contact";
@import "./blocks/footer";
