.works {
  padding: 100px 0 70px;
  @include for-size(phone) {
    padding: 40px 10px;
  }
  @include for-size(all) {
    padding-left: 10px;
    padding-right: 10px;
  }
  &__list {
    margin-top: 29px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &_item {
      margin: 0 15px 15px;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s all;
      &:hover {
        color: $accent;
      }
      &.active {
        color: $accent;
      }
    }
  }
  &__gallery {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include for-size(laptop) {
      justify-content: space-around;
    }
    @include for-size(tablet) {
      justify-content: space-around;
    }
    @include for-size(phone) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    margin-bottom: 30px;
    width: 360px;
    height: 320px;
    position: relative;
    @include for-size(phone) {
      max-width: 300px;
      width: auto;
      max-height: 250px;
      height: auto;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      transition: 0.3s all;
    }
    &:hover {
      &::before {
        background-color: rgba($accent, 0.7);
      }
      .works__item_content {
        opacity: 1;
      }
    }
    &_content {
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      text-align: center;
      color: #fff;
    }
    &_title {
      margin-bottom: 17px;
      font-size: 18px;
    }
    &_subtitle {
      margin-bottom: 25px;
      font-size: 12px;
    }
    &_link {
      display: block;
      padding: 14px 20px;
      font-size: 14px;
      font-weight: bold;
      color: $accent;
      background-color: #fff;
      text-decoration: none;
      i {
        margin-left: 12px;
      }
    }
  }
}
